body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

#products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    padding: 50px;
    width: 500px;
}

.cart-section {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}
